
@{
    ViewBag.Title = "display";
}


<html>





<body background="~/Content/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed; width:100%; height:100%; overflow: hidden;">

    <canvas id="myCanvas" style="position:absolute"></canvas>
    <script>
        myCanvas.setAttribute('width', window.innerWidth)
        myCanvas.setAttribute('height', window.innerHeight)
        var dimension = [document.documentElement.clientWidth, document.documentElement.clientHeight];
        var c = document.getElementById("myCanvas");
        c.width = dimension[0];
        c.height = dimension[1];
        var context1 = c.getContext("2d");
    
        var lat = @ViewBag.lat;
        var lon = @ViewBag.lon;
        

        context1.beginPath();
        context1.lineWidth = 1;
        context1.arc(Math.abs((c.width / 360) * (lon + 180)), Math.abs((c.height / 180) * (lat - 90)), 6, 0, 2 * Math.PI);
        context1.fillStyle = 'red';
        context1.fill();
        context1.stroke();
        context1.closePath();

        
    </script>

</body>
</html>