
@{
    ViewBag.Title = "save";
}


<html>
<body background="~/Content/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed; width:100%; height:100%; overflow: hidden;">
    <canvas id="myCanvas" style="position:absolute"></canvas>
    <script>
        myCanvas.setAttribute('width', window.innerWidth)
        myCanvas.setAttribute('height', window.innerHeight)
        var dimension = [document.documentElement.clientWidth, document.documentElement.clientHeight];
        var c = document.getElementById("myCanvas");
        var context1 = c.getContext("2d");

        c.width = dimension[0];
        c.height = dimension[1];


        var IntervalTime = @Session["time"] * 1000
        var milliseconds = @Session["timeout"] * 1000
        alert(milliseconds);
        myTimer = (function () {
        $.post("@Url.Action("getInfoDisplay4andsave")").done(function (xml) {
            var xmlDoc = $.parseXML( xml ),
                $xml = $(xmlDoc),

            lon = $xml.find("Lon").text();
            lat = $xml.find("Lat").text();

            lon = parseFloat(lon);
            lat = parseFloat(lat);

            var newlon1 = Math.abs((c.width / 360) * (lon + 180));;
            var newlat1 = Math.abs((c.height / 180) * (lat - 90));

            if (flag == 0) {
                flag = 1;

                context1.beginPath();
                context1.lineWidth = 1;
                context1.arc(newlon1, newlat1, 6, 0, 2 * Math.PI);
                context1.fillStyle = 'red';
                context1.fill();
                context1.stroke();
                context1.closePath();
                lastLat = newlat1;
                lastLon = newlon1;
            } else {
                context1.beginPath();
                context1.lineWidth = 1;
                context1.moveTo(lastLon, lastLat);
                context1.lineTo(newlon1, newlat1);
                lastLat = newlat1;
                lastLon = newlon1;
                context1.strokeStyle = "red";
                context1.stroke();
                context1.closePath();
            }
        });
        });
        stop = (function () {
            clearInterval(interval)
             alert("Done!");

        });
        setTimeout(stop, milliseconds);
        var interval = setInterval(myTimer, IntervalTime);
        myTimer();
    </script>
</body>
</html>