
@{
    ViewBag.Title = "save";
}


<html>
<body background="~/Content/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="myCanvas" style="background-size:100% 100% "></canvas>
    <script>
        var c = document.getElementById("myCanvas");
        var context1 = c.getContext("2d");
        var IntervalTime = @Session["time"] * 1000
        var milliseconds = @Session["timeout"] * 1000
        alert(milliseconds);
        myTimer = (function () {
        $.post("@Url.Action("getInfoDisplay4andsave")").done(function (xml) {
            var xmlDoc = $.parseXML( xml ),
                $xml = $(xmlDoc),

            lon = $xml.find("Lon").text();
            lat = $xml.find("Lat").text();

            lon = parseFloat(lon);
            lat = parseFloat(lat);

            var newlat1 = ((lat) + 90) * (180 / c.width);
            var newlon1 = ((lon) + 180) * (360 / c.height);

            if (flag == 0) {
                flag = 1;

                context1.beginPath();
                context1.lineWidth = 1;
                context1.arc(newlon1, newlat1, 6, 0, 2 * Math.PI);
                context1.fillStyle = 'red';
                context1.fill();
                context1.stroke();
                context1.closePath();
                lastLat = newlat1;
                lastLon = newlon1;
            } else {
                context1.beginPath();
                context1.lineWidth = 1;
                context1.moveTo(lastLon, lastLat);
                context1.lineTo(newlon1, newlat1);
                lastLat = newlat1;
                lastLon = newlon1;
                context1.strokeStyle = "red";
                context1.stroke();
                context1.closePath();
            }
        });
        });
        stop = (function () {
            clearInterval(interval)
             alert("Done!");

        });
        setTimeout(stop, milliseconds);
        var interval = setInterval(myTimer, IntervalTime);
        myTimer();
    </script>
</body>
</html>